/.git
/.vs
/.vscode
/build
/build-release
/build*
/import/.vscode
/Debug
/Release
mod.vcxproj.user
*.exp
*.pdb
*.o
build-for-win.sh

CaveStory/savedata/Profile*
CaveStory/fps
CaveStory/mute
CaveStory/Config.dat
CaveStory/Profile.dat
CaveStory/window.rect
CaveStory/error.log
/ZZ-FinalRelease
!CaveStory/mods/autpi/autpi.dll
!CaveStory/lua.dll
!external/lua/lib/lua.lib
CaveStory/lua_savefile.txt
!CaveStory/mods/mod_loader.dll
!CaveStory/dsound.dll